body {
  margin: 0;
  font-family: sans-serif;
  background-color: #111;
  color: white;
}

.contact {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.contact h1 {
  font-size: 7vw;
  max-font-size: 70px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 1.5vw;
  max-font-size: 20px;
  margin: 10px 0;
}

.contact-info a {
  color: #e74c3c;
  text-decoration: none;
  word-break: break-all;
}


.thank {
  margin-top: 10px;
  font-style: italic;
  opacity: 0.6;
}

 